{% load static %}
{% block content %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/1c87cdcf14.js" crossorigin="anonymous"></script>
    <title>Home Page</title>
    <link rel="stylesheet" href="{% static 'css/airline.css' %}">
</head>

<body>
<style>
    .Oo{
    
        width: 40px;
        height: 15px;
        background-color: rgb(194, 226, 243);
        font-size: 1px;
        border: 1px solid rgb(79, 39, 27);
        border-radius: 5px;
        margin-left: 120%;
        margin-top: -20%;
    }
    .s{
      padding: 10px;
    }
</style>
    <div class="container">
        <nav>
            <ul>
                <a href="{% url 'base' %}">
                    <li>Travellar</li>
                </a>
                <a href="{% url 'baseairline' %}">
                    <li>Airlines</li>
                </a>
                <a href="{% url 'baserisk' %}">
                    <li>Risk Action</li>
                </a>
                <a href="{% url 'basecrew' %}">
                    <li>Crew</li>
                </a>
                <a href="{% url 'base' %}">
                    <li>Journey Search</li>
                </a>
            </ul>
            <img src="{% static 'img/logo.png' %}" width="150px" style="margin: auto;">
        </nav>
    </div>
        {% if messages %}
        <ul class="messages">
            {% for message in messages %}
            <div class="first" role="alert">{{ message }}</div>
            {% endfor %}
        </ul>
        {% endif %}
    <div class="travellersection">
        <div class="bb">
            <a href="{% url 'createairline' %}">
                <button type="button" class="Oo" id="back-button">
                    <span class="fa-solid fa-folder-plus"></span>
                </button>
            </a>
        <h1>Welcome From Myanmar Airline</h1>
        <table>
            <h2>Airline Table</h2>
            <thead>
                <th style="border-top-left-radius: 10px;">Operating Date</th>
                <th>Airline</th>
                <th>Airline Name</th>
                <th>Airline No</th>
                <th>Depature Port</th>
                <th>Depature Date and Time</th>
                <th>Flight Status</th>
                <th>Arrival Date and Time</th>
                
                <th>Delay Issue</th>
                <th style="border-top-right-radius: 10px;">Remarks</th>
                <th style="border-top-right-radius:10px; width: 10%;" >Action </th>
                
            </thead>
            <tbody class="tbody1">
                {% for bcahub in data%}

                    <tr>
                        <td class="s">
                        {{ bcahub.operating_date}}
                       </td>
                        <td class="h">
                            {{ bcahub.airline}}
                        </td>
                        <td class="s">
                            {{ bcahub.airline_name}}
                        </td>
                        <td class="h">
                            {{ bcahub.airline_NO}}
                        </td>
                        <td class="s">
                            {{ bcahub.depature_Port}}
                        </td>
                        <td class="h">
                            {{ bcahub.depature_date_time}}
                        </td>
                        <td class="s">
                            {{ bcahub.flight_status}}
                        </td>
                        <td class="s">
                            {{ bcahub.arrival_date_time}}
                        </td>
                        <td class="h">
                            {{ bcahub.delay_issue}}
                        </td>
                        <td class="s">
                            {{ bcahub.remarks}}
                        </td>
                        <td class ="h">          
                     
                        
                            <a href="{% url 'updateViewairline' bcahub.id %}" class="text-decoration-none">
                                <span class="fa fa-pen text-white"></span>
                                    </i>
                            </a>
                                
                        
                        </td>
                     
                      
                        </tr>
                {% endfor %}    
            </tbody>
                    
                </tr>
                <!-- <td>10.10.23</td>
                <td>MA</td>
                <td>Yg to Mdy</td>
                <td>007</td>
                <td>Yangon</td>
                <td>Mandalay</td>
                <td>10.10.23 1AM</td>
                <td>10.10.23 2AM</td>
                <td>Fine</td>
                <td>5 min</td>
                <td></td>
            </tbody>
            <tbody class="tbody2">
                <td>10.10.23</td>
                <td>MA</td>
                <td>Yg to Mdy</td>
                <td>007</td>
                <td>Yangon</td>
                <td>Mandalay</td>
                <td>10.10.23 1AM</td>
                <td>10.10.23 2AM</td>
                <td>Fine</td>
                <td>5 min</td>
                <td></td>
            </tbody>
            <tbody class="tbody1">
                <td>10.10.23</td>
                <td>MA</td>
                <td>Yg to Mdy</td>
                <td>007</td>
                <td>Yangon</td>
                <td>Mandalay</td>
                <td>10.10.23 1AM</td>
                <td>10.10.23 2AM</td>
                <td>Fine</td>
                <td>5 min</td>
                <td></td>
            </tbody>
            <tbody class="tbody2">
                <td>10.10.23</td>
                <td>MA</td>
                <td>Yg to Mdy</td>
                <td>007</td>
                <td>Yangon</td>
                <td>Mandalay</td>
                <td>10.10.23 1AM</td>
                <td>10.10.23 2AM</td>
                <td>Fine</td>
                <td>5 min</td>
                <td></td>
            </tbody>
            <tbody class="tbody1">
                <td>10.10.23</td>
                <td>MA</td>
                <td>Yg to Mdy</td>
                <td>007</td>
                <td>Yangon</td>
                <td>Mandalay</td>
                <td>10.10.23 1AM</td>
                <td>10.10.23 2AM</td>
                <td>Fine</td>
                <td>5 min</td>
                <td></td>
            </tbody>
            <tbody class="tbody2">
                <td>10.10.23</td>
                <td>MA</td>
                <td>Yg to Mdy</td>
                <td>007</td>
                <td>Yangon</td>
                <td>Mandalay</td>
                <td>10.10.23 1AM</td>
                <td>10.10.23 2AM</td>
                <td>Fine</td>
                <td>5 min</td>
                <td></td>
            </tbody>
            <tbody class="tbody1">
                <td>10.10.23</td>
                <td>MA</td>
                <td>Yg to Mdy</td>
                <td>007</td>
                <td>Yangon</td>
                <td>Mandalay</td>
                <td>10.10.23 1AM</td>
                <td>10.10.23 2AM</td>
                <td>Fine</td>
                <td>5 min</td>
                <td></td>
            </tbody>
            <tbody class="tbody2">
                <td>10.10.23</td>
                <td>MA</td>
                <td>Yg to Mdy</td>
                <td>007</td>
                <td>Yangon</td>
                <td>Mandalay</td>
                <td>10.10.23 1AM</td>
                <td>10.10.23 2AM</td>
                <td>Fine</td>
                <td>5 min</td>
                <td></td>
            </tbody>
            <tbody class="tbody1">
                <td>10.10.23</td>
                <td>MA</td>
                <td>Yg to Mdy</td>
                <td>007</td>
                <td>Yangon</td>
                <td>Mandalay</td>
                <td>10.10.23 1AM</td>
                <td>10.10.23 2AM</td>
                <td>Fine</td>
                <td>5 min</td>
                <td></td>
            </tbody>
            <tbody class="tbody2">
                <td>10.10.23</td>
                <td>MA</td>
                <td>Yg to Mdy</td>
                <td>007</td>
                <td>Yangon</td>
                <td>Mandalay</td>
                <td>10.10.23 1AM</td>
                <td>10.10.23 2AM</td>
                <td>Fine</td>
                <td>5 min</td>
                <td></td>
            </tbody>
            <tbody class="tbody1">
                <td>10.10.23</td>
                <td>MA</td>
                <td>Yg to Mdy</td>
                <td>007</td>
                <td>Yangon</td>
                <td>Mandalay</td>
                <td>10.10.23 1AM</td>
                <td>10.10.23 2AM</td>
                <td>Fine</td>
                <td>5 min</td>
                <td></td>
            </tbody>
            <tbody class="tbody2">
                <td style="border-bottom-left-radius: 10px;">10.10.23</td>
                <td>MA</td>
                <td>Yg to Mdy</td>
                <td>007</td>
                <td>Yangon</td>
                <td>Mandalay</td>
                <td>10.10.23 1AM</td>
                <td>10.10.23 2AM</td>
                <td>Fine</td>
                <td style="border-bottom-right-radius: 10px;">5 min</td>
                <td></td>
            </tbody> -->
        </table>
    </div>

</body>

</html>
{% endblock %}