{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Page</title>
    <link rel="stylesheet" href="{% static "css/home.css" %}">
</head>

<body>
    <div class="container">
        <nav>
            <ul>
                <a href="{% url 'home' %}">
                    <li>Travellar</li>
                </a>
                <a href="{% url 'airline' %}">
                    <li>Airlines</li>
                </a>
                <a href="{% url 'risk' %}">
                    <li>Risk Action</li>
                </a>
                <a href="{% url 'crew' %}">
                    <li>Crew</li>
                </a>
                <a href="{% url 'journey' %}">
                    <li>Journey Search</li>
                </a>
            </ul>
            <img src="{% static "img/logo.png" %}" width="150px" style="margin: auto;">
        </nav>
    </div>
    <div class="travellersection">
        <h1>Welcome From Myanmar Airline</h1>
        <table>
            <h2>Travellar Table</h2>
            <thead>
                <th style="border-top-left-radius: 10px;">Flight</th>
                <th>TimeFrame</th>
                <th>Name</th>
                <th>D.O.B</th>
                <th>NRC</th>
                <th>Gender</th>
                <th>Depature Port</th>
                <th>Depature Date and Time</th>
                <th>Arrival Port</th>
                <th style="border-top-right-radius: 10px;">Arrival Date and Time</th>
            </thead>
            <tbody class="tbody1">
                <td>Myanmar Air line</td>
                <td>16:00</td>
                <td>John Doe</td>
                <td>7.10.00</td>
                <td>120713</td>
                <td>Male</td>
                <td>Yangon</td>
                <td>2 A.M</td>
                <td>4 Am</td>
                <td>20.10.23 4A.M</td>
            </tbody>
            <tbody class="tbody2">
                <td>Myanmar Air line</td>
                <td>16:00</td>
                <td>John Doe</td>
                <td>7.10.00</td>
                <td>120713</td>
                <td>Male</td>
                <td>Yangon</td>
                <td>2 A.M</td>
                <td>4 Am</td>
                <td>20.10.23 4A.M</td>
            </tbody>
            <tbody class="tbody1">
                <td>Myanmar Air line</td>
                <td>16:00</td>
                <td>John Doe</td>
                <td>7.10.00</td>
                <td>120713</td>
                <td>Male</td>
                <td>Yangon</td>
                <td>2 A.M</td>
                <td>4 Am</td>
                <td>20.10.23 4A.M</td>
            </tbody>
            <tbody class="tbody2">
                <td>Myanmar Air line</td>
                <td>16:00</td>
                <td>John Doe</td>
                <td>7.10.00</td>
                <td>120713</td>
                <td>Male</td>
                <td>Yangon</td>
                <td>2 A.M</td>
                <td>4 Am</td>
                <td>20.10.23 4A.M</td>
            </tbody>
            <tbody class="tbody1">
                <td>Myanmar Air line</td>
                <td>16:00</td>
                <td>John Doe</td>
                <td>7.10.00</td>
                <td>120713</td>
                <td>Male</td>
                <td>Yangon</td>
                <td>2 A.M</td>
                <td>4 Am</td>
                <td>20.10.23 4A.M</td>
            </tbody>
            <tbody class="tbody2">
                <td>Myanmar Air line</td>
                <td>16:00</td>
                <td>John Doe</td>
                <td>7.10.00</td>
                <td>120713</td>
                <td>Male</td>
                <td>Yangon</td>
                <td>2 A.M</td>
                <td>4 Am</td>
                <td>20.10.23 4A.M</td>
            </tbody>
            <tbody class="tbody1">
                <td>Myanmar Air line</td>
                <td>16:00</td>
                <td>John Doe</td>
                <td>7.10.00</td>
                <td>120713</td>
                <td>Male</td>
                <td>Yangon</td>
                <td>2 A.M</td>
                <td>4 Am</td>
                <td>20.10.23 4A.M</td>
            </tbody>
            <tbody class="tbody2">
                <td>Myanmar Air line</td>
                <td>16:00</td>
                <td>John Doe</td>
                <td>7.10.00</td>
                <td>120713</td>
                <td>Male</td>
                <td>Yangon</td>
                <td>2 A.M</td>
                <td>4 Am</td>
                <td>20.10.23 4A.M</td>
            </tbody>
            <tbody class="tbody1">
                <td>Myanmar Air line</td>
                <td>16:00</td>
                <td>John Doe</td>
                <td>7.10.00</td>
                <td>120713</td>
                <td>Male</td>
                <td>Yangon</td>
                <td>2 A.M</td>
                <td>4 Am</td>
                <td>20.10.23 4A.M</td>
            </tbody>
            <tbody class="tbody2">
                <td>Myanmar Air line</td>
                <td>16:00</td>
                <td>John Doe</td>
                <td>7.10.00</td>
                <td>120713</td>
                <td>Male</td>
                <td>Yangon</td>
                <td>2 A.M</td>
                <td>4 Am</td>
                <td>20.10.23 4A.M</td>
            </tbody>
            <tbody class="tbody1">
                <td>Myanmar Air line</td>
                <td>16:00</td>
                <td>John Doe</td>
                <td>7.10.00</td>
                <td>120713</td>
                <td>Male</td>
                <td>Yangon</td>
                <td>2 A.M</td>
                <td>4 Am</td>
                <td>20.10.23 4A.M</td>
            </tbody>
            <tbody class="tbody2">
                <td style="border-bottom-left-radius: 10px;">Myanmar Air line</td>
                <td>16:00</td>
                <td>John Doe</td>
                <td>7.10.00</td>
                <td>120713</td>
                <td>Male</td>
                <td>Yangon</td>
                <td>2 A.M</td>
                <td>4 Am</td>
                <td style="border-bottom-right-radius: 10px;">20.10.23 4A.M</td>
            </tbody>
        </table>
    </div>

</body>

</html>