{% load static %}
{% block content %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/1c87cdcf14.js" crossorigin="anonymous"></script>
    <title>Home Page</title>
    <link rel="stylesheet" href="{% static 'css/home.css' %}">
</head>

<body>
    <div class="container">
        
        <nav>
            <ul>
                <a href="{% url 'base' %}">
                    <li>Travellar</li>
                </a>
                <a href="{% url 'baseairline' %}">
                    <li>Airlines</li>
                </a>
                <a href="{% url 'baserisk' %}">
                    <li>Risk Action</li>
                </a>
                <a href="{% url 'basecrew' %}">
                    <li>Crew</li>
                </a>
                <a href="{% url 'basejourney' %}">
                    <li>Journey Search</li>
                </a>
            </ul>
            <img src="{% static 'img/logo.png' %}" width="150px" style="margin: auto;">
        </nav>
    </div>
    {% if messages %}
        <ul class="messages">
            {% for message in messages %}
            <div class="first" role="alert">{{ message }}</div>
            {% endfor %}
        </ul>
        {% endif %}

    <div class="travellersection">
        <h1>Welcome From Myanmar Airline</h1>
        <table>
            <h2>Travellar Table</h2>
            <thead>
            
                <th style="border-top-left-radius: 10px;">Flight</th>
                <th>TimeFrame</th>
                <th>Name</th>
                <th>D.O.B</th>
                <th>NRC</th>
                <th>Gender</th>
                <th>Depature Port</th>
                <th>Depature Date and Time</th>
                <th>Arrival Port</th>
                <th style="border-top-right-radius: 10px;">Arrival Date and Time</th>
                <th style="border-top-right-radius:10px; width: 10%;" >Action </th>
                <th style="border-top-right-radius:10px; width: 10%;" >Action </th>
                
            
              
            </thead>
            
            <tbody class="tbody1">
               
                {% for bcahub in data%}
                    <tr>
                        <td class="s">
                        {{ bcahub.flight}}
                    </td>
                        <td class="h">
                            {{ bcahub.timeFrame}}
                        </td>
                        <td class="s">
                            {{ bcahub.name}}
                        </td>
                        <td class="h">
                            {{ bcahub.dob}}
                        </td>
                        <td class="s">
                            {{ bcahub.nrc}}
                        </td>
                        <td class="h">
                            {{ bcahub.gender}}
                        </td>
                        <td class="s">
                            {{ bcahub.depature_port}}
                        </td>
                        <td class="s">
                            {{ bcahub.depature_date_time}}
                        </td>
                        <td class="h">
                            {{ bcahub.arrival_port}}
                        </td>
                        <td class="s">
                            {{ bcahub.arrival_date_time}}
                        </td>
                        <td class ="h">          
                     
                        
                            <a href="{% url 'updateViewtravel' bcahub.id %}" class="text-decoration-none">
                                <span class="fa fa-pen text-white"></span>
                                    </i>
                            </a>
                                
                        
                        </td>
                       
                       <td class ="s">
                            
                            <a href="{% url 'createtravel' %}"  class="text-decoration-none">
                           
                                <i class="fa-solid fa-folder-plus"></i>
                            </a>
                       
                       
                        </td>
                      
                        </tr>
                        {% endfor %}
                    </tbody>
                       
                </tr>
<!--            
            <tbody class="tbody2">
                <td>Myanmar Air line</td>
                <td>16:00</td>
                <td>John Doe</td>
                <td>7.10.00</td>
                <td>120713</td>
                <td>Male</td>
                <td>Yangon</td>
                <td>2 A.M</td>
                <td>4 Am</td>
                <td>20.10.23 4A.M</td>
               

                
            </tbody>
            <tbody class="tbody1">
                <td>Myanmar Air line</td>
                <td>16:00</td>
                <td>John Doe</td>
                <td>7.10.00</td>
                <td>120713</td>
                <td>Male</td>
                <td>Yangon</td>
                <td>2 A.M</td>
                <td>4 Am</td>
                <td>20.10.23 4A.M</td>
               

            </tbody>
            <tbody class="tbody2">
                <td>Myanmar Air line</td>
                <td>16:00</td>
                <td>John Doe</td>
                <td>7.10.00</td>
                <td>120713</td>
                <td>Male</td>
                <td>Yangon</td>
                <td>2 A.M</td>
                <td>4 Am</td>
                <td>20.10.23 4A.M</td>
            </tbody>
            <tbody class="tbody1">
                <td>Myanmar Air line</td>
                <td>16:00</td>
                <td>John Doe</td>
                <td>7.10.00</td>
                <td>120713</td>
                <td>Male</td>
                <td>Yangon</td>
                <td>2 A.M</td>
                <td>4 Am</td>
                <td>20.10.23 4A.M</td>
            </tbody>
            <tbody class="tbody2">
                <td>Myanmar Air line</td>
                <td>16:00</td>
                <td>John Doe</td>
                <td>7.10.00</td>
                <td>120713</td>
                <td>Male</td>
                <td>Yangon</td>
                <td>2 A.M</td>
                <td>4 Am</td>
                <td>20.10.23 4A.M</td>
            </tbody>
            <tbody class="tbody1">
                <td>Myanmar Air line</td>
                <td>16:00</td>
                <td>John Doe</td>
                <td>7.10.00</td>
                <td>120713</td>
                <td>Male</td>
                <td>Yangon</td>
                <td>2 A.M</td>
                <td>4 Am</td>
                <td>20.10.23 4A.M</td>
            </tbody>
            <tbody class="tbody2">
                <td>Myanmar Air line</td>
                <td>16:00</td>
                <td>John Doe</td>
                <td>7.10.00</td>
                <td>120713</td>
                <td>Male</td>
                <td>Yangon</td>
                <td>2 A.M</td>
                <td>4 Am</td>
                <td>20.10.23 4A.M</td>
            </tbody>
            <tbody class="tbody1">
                <td>Myanmar Air line</td>
                <td>16:00</td>
                <td>John Doe</td>
                <td>7.10.00</td>
                <td>120713</td>
                <td>Male</td>
                <td>Yangon</td>
                <td>2 A.M</td>
                <td>4 Am</td>
                <td>20.10.23 4A.M</td>
            </tbody>
            <tbody class="tbody2">
                <td>Myanmar Air line</td>
                <td>16:00</td>
                <td>John Doe</td>
                <td>7.10.00</td>
                <td>120713</td>
                <td>Male</td>
                <td>Yangon</td>
                <td>2 A.M</td>
                <td>4 Am</td>
                <td>20.10.23 4A.M</td>
            </tbody>
            <tbody class="tbody1">
                <td>Myanmar Air line</td>
                <td>16:00</td>
                <td>John Doe</td>
                <td>7.10.00</td>
                <td>120713</td>
                <td>Male</td>
                <td>Yangon</td>
                <td>2 A.M</td>
                <td>4 Am</td>
                <td>20.10.23 4A.M</td>
            </tbody>
            <tbody class="tbody2">
                <td style="border-bottom-left-radius: 10px;">Myanmar Air line</td>
                <td>16:00</td>
                <td>John Doe</td>
                <td>7.10.00</td>
                <td>120713</td>
                <td>Male</td>
                <td>Yangon</td>
                <td>2 A.M</td>
                <td>4 Am</td>
                <td style="border-bottom-right-radius: 10px;">20.10.23 4A.M</td>
            </tbody> -->
         
       
                
            
            
            
            
    
              
        </table>
    
     
    </div>

</body>

</html>
{% endblock %}