{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Journey</title>
    <link rel="stylesheet" href="{% static "css/journey.css" %}">
<body>
    <div class="container">
        <nav>
            <ul>
                <a href="{% url 'home' %}">
                    <li>Travellar</li>
                </a>
                <a href="{% url 'airline' %}">
                    <li>Airlines</li>
                </a>
                <a href="{% url 'risk' %}">
                    <li>Risk Action</li>
                </a>
                <a href="{% url 'crew' %}">
                    <li>Crew</li>
                </a>
                <a href="{% url 'journey' %}">
                    <li>Journey Search</li>
                </a>
            </ul>
            <img src="{% static "img/logo.png" %}" width="150px" style="margin: auto;">
        </nav>
    </div>
    <div class="travellersection">
        <h1>Welcome From Myanmar Airline</h1>
        <table>
            <h2>Journey Table</h2>
            <thead>
                <th style="border-top-left-radius: 10px;">No</th>
                <th>Name</th>
                <th>D.O.B</th>
                <th>Father</th>
                <th>Passport</th>
                <th>Gender</th>
                <th>Flight Name</th>
                <th>Sector</th>
                <th>Depature Date and Time</th>
                <th>Arrival Date and Time</th>
                <th style="border-top-right-radius: 10px;">Risk Status</th>
            </thead>
            <tbody class="tbody1">
                <td>1</td>
                <td>John Doe</td>
                <td>7.10.00</td>
                <td>U Ba</td>
                <td>120713</td>
                <td>Male</td>
                <td>Myanmar Airline</td>
                <td>sector</td>
                <td>10.10.23 10 AM</td>
                <td>10.10.23 11AM</td>
                <td>Risk Action</td>
            </tbody>
            <tbody class="tbody2">
                <td>1</td>
                <td>John Doe</td>
                <td>7.10.00</td>
                <td>U Ba</td>
                <td>120713</td>
                <td>Male</td>
                <td>Myanmar Airline</td>
                <td>sector</td>
                <td>10.10.23 10 AM</td>
                <td>10.10.23 11AM</td>
                <td>Risk Action</td>
            </tbody>
            <tbody class="tbody1">
                <td>1</td>
                <td>John Doe</td>
                <td>7.10.00</td>
                <td>U Ba</td>
                <td>120713</td>
                <td>Male</td>
                <td>Myanmar Airline</td>
                <td>sector</td>
                <td>10.10.23 10 AM</td>
                <td>10.10.23 11AM</td>
                <td>Risk Action</td>
            </tbody>
            <tbody class="tbody2">
                <td>1</td>
                <td>John Doe</td>
                <td>7.10.00</td>
                <td>U Ba</td>
                <td>120713</td>
                <td>Male</td>
                <td>Myanmar Airline</td>
                <td>sector</td>
                <td>10.10.23 10 AM</td>
                <td>10.10.23 11AM</td>
                <td>Risk Action</td>
            </tbody>
            <tbody class="tbody1">
                <td>1</td>
                <td>John Doe</td>
                <td>7.10.00</td>
                <td>U Ba</td>
                <td>120713</td>
                <td>Male</td>
                <td>Myanmar Airline</td>
                <td>sector</td>
                <td>10.10.23 10 AM</td>
                <td>10.10.23 11AM</td>
                <td>Risk Action</td>
            </tbody>
            <tbody class="tbody2">
                <td>1</td>
                <td>John Doe</td>
                <td>7.10.00</td>
                <td>U Ba</td>
                <td>120713</td>
                <td>Male</td>
                <td>Myanmar Airline</td>
                <td>sector</td>
                <td>10.10.23 10 AM</td>
                <td>10.10.23 11AM</td>
                <td>Risk Action</td>
            </tbody>
            <tbody class="tbody1">
                <td>1</td>
                <td>John Doe</td>
                <td>7.10.00</td>
                <td>U Ba</td>
                <td>120713</td>
                <td>Male</td>
                <td>Myanmar Airline</td>
                <td>sector</td>
                <td>10.10.23 10 AM</td>
                <td>10.10.23 11AM</td>
                <td>Risk Action</td>
            </tbody>
            <tbody class="tbody2">
                <td>1</td>
                <td>John Doe</td>
                <td>7.10.00</td>
                <td>U Ba</td>
                <td>120713</td>
                <td>Male</td>
                <td>Myanmar Airline</td>
                <td>sector</td>
                <td>10.10.23 10 AM</td>
                <td>10.10.23 11AM</td>
                <td>Risk Action</td>
            </tbody>
            <tbody class="tbody1">
                <td>1</td>
                <td>John Doe</td>
                <td>7.10.00</td>
                <td>U Ba</td>
                <td>120713</td>
                <td>Male</td>
                <td>Myanmar Airline</td>
                <td>sector</td>
                <td>10.10.23 10 AM</td>
                <td>10.10.23 11AM</td>
                <td>Risk Action</td>
            </tbody>
            <tbody class="tbody2">
                <td>1</td>
                <td>John Doe</td>
                <td>7.10.00</td>
                <td>U Ba</td>
                <td>120713</td>
                <td>Male</td>
                <td>Myanmar Airline</td>
                <td>sector</td>
                <td>10.10.23 10 AM</td>
                <td>10.10.23 11AM</td>
                <td>Risk Action</td>
            </tbody>
            <tbody class="tbody1">
                <td>1</td>
                <td>John Doe</td>
                <td>7.10.00</td>
                <td>U Ba</td>
                <td>120713</td>
                <td>Male</td>
                <td>Myanmar Airline</td>
                <td>sector</td>
                <td>10.10.23 10 AM</td>
                <td>10.10.23 11AM</td>
                <td>Risk Action</td>
            </tbody>
            <tbody class="tbody2">
                <td style="border-bottom-left-radius: 10px;">1</td>
                <td>John Doe</td>
                <td>7.10.00</td>
                <td>U Ba</td>
                <td>120713</td>
                <td>Male</td>
                <td>Myanmar Airline</td>
                <td>sector</td>
                <td>10.10.23 10 AM</td>
                <td>10.10.23 11AM</td>
                <td style="border-bottom-right-radius: 10px;" >Risk Action</td>
            </tbody>
        </table>
    </div>
</body>
</html>