{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/1c87cdcf14.js" crossorigin="anonymous"></script>
    <title>Risk Action</title>
    <link rel="stylesheet" href="{% static 'css/home.css' %}">
</head>

<body>
    <div class="container">
        <nav>
            <ul>
                <a href="{% url 'base' %}">
                    <li>Travellar</li>
                </a>
                <a href="{% url 'baseairline' %}">
                    <li>Airlines</li>
                </a>
                <a href="{% url 'baserisk' %}">
                    <li>Risk Action</li>
                </a>
                <a href="{% url 'basecrew' %}">
                    <li>Crew</li>
                </a>
                <a href="{% url 'basejourney' %}">
                    <li>Journey Search</li>
                </a>
            </ul>
            <img src="{% static 'img/logo.png' %}" width="150px" style="margin: auto;">
        </nav>
    </div>
    {% if messages %}
    <ul class="messages">
        {% for message in messages %}
        <div class="first" role="alert">{{ message }}</div>
        {% endfor %}
    </ul>
    {% endif %}
    <div class="travellersection">
        <h1>Welcome From Myanmar Airline</h1>
        <table>
            <h2>Risk Action Table</h2>
            <thead>
                <th style="border-top-left-radius: 10px;">No</th>
                <th>Name</th>
                <th>D.O.B</th>
                <th>Father</th>
                <th>Passport</th>
                <th>Gender</th>
                <th>NRC</th>
                <th>Nationality</th>
                <th style="border-top-right-radius: 10px;">Status</th>
                <th style="border-top-right-radius:10px; width: 10%;" >Action </th>
                <th style="border-top-right-radius:10px; width: 10%;" >Action </th>
            </thead>
            <tbody class="tbody1">
            
                {% for bcahub in data%}
                    <tr>
                        <td class="s">
                        {{ bcahub.number}}
                    </td>
                        <td class="h">
                            {{ bcahub.name}}
                        </td>
                        <td class="s">
                            {{ bcahub.dob}}
                        </td>
                        <td class="h">
                            {{ bcahub.father}}
                        </td>
                        <td class="s">
                            {{ bcahub.passport}}
                        </td>
                        <td class="h">
                            {{ bcahub.gender}}
                        </td>
                        <td class="s">
                            {{ bcahub.nrc}}
                        </td>
                        <td class="s">
                            {{ bcahub.nationality}}
                        </td>
                        <td class="h">
                            {{ bcahub.status}}
                        </td>
                       
                        <td class ="h">          
                     
                        
                            <a href="{% url 'updateViewrisk' bcahub.id %}" class="text-decoration-none">
                                <span class="fa fa-pen text-white"></span>
                                    </i>
                            </a>
                                
                        
                        </td>
                       
                       <td class ="s">
                            
                            <a href="{% url 'createrisk' %}"  class="text-decoration-none">
                           
                                <i class="fa-solid fa-folder-plus"></i>
                            </a>
                       
                       
                        </td>
                      
                        </tr>
                        {% endfor %}
                    </tbody>
                       
                </tr>
                <!-- <td>1</td>
                <td>John Doe</td>
                <td>10.02.2000</td>
                <td>U Ba</td>
                <td>88996466</td>
                <td>Male</td>
                <td>002569</td>
                <td>Myanmar</td>
                <td>Pending</td>
            </tbody>
            <tbody class="tbody2">
                <td>1</td>
                <td>John Doe</td>
                <td>10.02.2000</td>
                <td>U Ba</td>
                <td>88996466</td>
                <td>Male</td>
                <td>002569</td>
                <td>Myanmar</td>
                <td>Pending</td>
            </tbody>
            <tbody class="tbody1">
                <td>1</td>
                <td>John Doe</td>
                <td>10.02.2000</td>
                <td>U Ba</td>
                <td>88996466</td>
                <td>Male</td>
                <td>002569</td>
                <td>Myanmar</td>
                <td>Pending</td>
            </tbody>
            <tbody class="tbody2">
                <td>1</td>
                <td>John Doe</td>
                <td>10.02.2000</td>
                <td>U Ba</td>
                <td>88996466</td>
                <td>Male</td>
                <td>002569</td>
                <td>Myanmar</td>
                <td>Pending</td>
            </tbody>
            <tbody class="tbody1">
                <td>1</td>
                <td>John Doe</td>
                <td>10.02.2000</td>
                <td>U Ba</td>
                <td>88996466</td>
                <td>Male</td>
                <td>002569</td>
                <td>Myanmar</td>
                <td>Pending</td>
            </tbody>
            <tbody class="tbody2">
                <td>1</td>
                <td>John Doe</td>
                <td>10.02.2000</td>
                <td>U Ba</td>
                <td>88996466</td>
                <td>Male</td>
                <td>002569</td>
                <td>Myanmar</td>
                <td>Pending</td>
            </tbody>
            <tbody class="tbody1">
                <td>1</td>
                <td>John Doe</td>
                <td>10.02.2000</td>
                <td>U Ba</td>
                <td>88996466</td>
                <td>Male</td>
                <td>002569</td>
                <td>Myanmar</td>
                <td>Pending</td>
            </tbody>
            <tbody class="tbody2">
                <td>1</td>
                <td>John Doe</td>
                <td>10.02.2000</td>
                <td>U Ba</td>
                <td>88996466</td>
                <td>Male</td>
                <td>002569</td>
                <td>Myanmar</td>
                <td>Pending</td>
            </tbody>
            <tbody class="tbody1">
                <td>1</td>
                <td>John Doe</td>
                <td>10.02.2000</td>
                <td>U Ba</td>
                <td>88996466</td>
                <td>Male</td>
                <td>002569</td>
                <td>Myanmar</td>
                <td>Pending</td>
            </tbody>
            <tbody class="tbody2">
                <td>1</td>
                <td>John Doe</td>
                <td>10.02.2000</td>
                <td>U Ba</td>
                <td>88996466</td>
                <td>Male</td>
                <td>002569</td>
                <td>Myanmar</td>
                <td>Pending</td>
            </tbody>
            <tbody class="tbody1">
                <td>1</td>
                <td>John Doe</td>
                <td>10.02.2000</td>
                <td>U Ba</td>
                <td>88996466</td>
                <td>Male</td>
                <td>002569</td>
                <td>Myanmar</td>
                <td>Pending</td> -->
            </tbody>
</body>

</html>