{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Risk Action</title>
    <link rel="stylesheet" href="{% static "css/risk.css" %}">
</head>

<body>
    <div class="container">
        <nav>
            <ul>
                <a href="{% url 'home' %}">
                    <li>Travellar</li>
                </a>
                <a href="{% url 'airline' %}">
                    <li>Airlines</li>
                </a>
                <a href="{% url 'risk' %}">
                    <li>Risk Action</li>
                </a>
                <a href="{% url 'crew' %}">
                    <li>Crew</li>
                </a>
                <a href="{% url 'journey' %}">
                    <li>Journey Search</li>
                </a>
            </ul>
            <img src="{% static "img/logo.png" %}" width="150px" style="margin: auto;">
        </nav>
    </div>
    <div class="travellersection">
        <h1>Welcome From Myanmar Airline</h1>
        <table>
            <h2>Risk Action Table</h2>
            <thead>
                <th style="border-top-left-radius: 10px;">No</th>
                <th>Name</th>
                <th>D.O.B</th>
                <th>Father</th>
                <th>Passport</th>
                <th>Gender</th>
                <th>NRC</th>
                <th>Nationality</th>
                <th style="border-top-right-radius: 10px;">Status</th>
            </thead>
            <tbody class="tbody1">
                <td>1</td>
                <td>John Doe</td>
                <td>10.02.2000</td>
                <td>U Ba</td>
                <td>88996466</td>
                <td>Male</td>
                <td>002569</td>
                <td>Myanmar</td>
                <td>Pending</td>
            </tbody>
            <tbody class="tbody2">
                <td>1</td>
                <td>John Doe</td>
                <td>10.02.2000</td>
                <td>U Ba</td>
                <td>88996466</td>
                <td>Male</td>
                <td>002569</td>
                <td>Myanmar</td>
                <td>Pending</td>
            </tbody>
            <tbody class="tbody1">
                <td>1</td>
                <td>John Doe</td>
                <td>10.02.2000</td>
                <td>U Ba</td>
                <td>88996466</td>
                <td>Male</td>
                <td>002569</td>
                <td>Myanmar</td>
                <td>Pending</td>
            </tbody>
            <tbody class="tbody2">
                <td>1</td>
                <td>John Doe</td>
                <td>10.02.2000</td>
                <td>U Ba</td>
                <td>88996466</td>
                <td>Male</td>
                <td>002569</td>
                <td>Myanmar</td>
                <td>Pending</td>
            </tbody>
            <tbody class="tbody1">
                <td>1</td>
                <td>John Doe</td>
                <td>10.02.2000</td>
                <td>U Ba</td>
                <td>88996466</td>
                <td>Male</td>
                <td>002569</td>
                <td>Myanmar</td>
                <td>Pending</td>
            </tbody>
            <tbody class="tbody2">
                <td>1</td>
                <td>John Doe</td>
                <td>10.02.2000</td>
                <td>U Ba</td>
                <td>88996466</td>
                <td>Male</td>
                <td>002569</td>
                <td>Myanmar</td>
                <td>Pending</td>
            </tbody>
            <tbody class="tbody1">
                <td>1</td>
                <td>John Doe</td>
                <td>10.02.2000</td>
                <td>U Ba</td>
                <td>88996466</td>
                <td>Male</td>
                <td>002569</td>
                <td>Myanmar</td>
                <td>Pending</td>
            </tbody>
            <tbody class="tbody2">
                <td>1</td>
                <td>John Doe</td>
                <td>10.02.2000</td>
                <td>U Ba</td>
                <td>88996466</td>
                <td>Male</td>
                <td>002569</td>
                <td>Myanmar</td>
                <td>Pending</td>
            </tbody>
            <tbody class="tbody1">
                <td>1</td>
                <td>John Doe</td>
                <td>10.02.2000</td>
                <td>U Ba</td>
                <td>88996466</td>
                <td>Male</td>
                <td>002569</td>
                <td>Myanmar</td>
                <td>Pending</td>
            </tbody>
            <tbody class="tbody2">
                <td>1</td>
                <td>John Doe</td>
                <td>10.02.2000</td>
                <td>U Ba</td>
                <td>88996466</td>
                <td>Male</td>
                <td>002569</td>
                <td>Myanmar</td>
                <td>Pending</td>
            </tbody>
            <tbody class="tbody1">
                <td>1</td>
                <td>John Doe</td>
                <td>10.02.2000</td>
                <td>U Ba</td>
                <td>88996466</td>
                <td>Male</td>
                <td>002569</td>
                <td>Myanmar</td>
                <td>Pending</td>
            </tbody>
</body>

</html>